
<div id="container">
  <h1>Stupid Coaching</h1>
  <div id="question">
  <%= @question %>
  <p>-You</p>
  </div>
  <div id="answer">
  <%= @answer %>
  <p>-Your coach</p>
  </div>
  <div id="link">
    <%= link_to "Ask another question", ask_path %>
  </div>
</div>
